<div class="navigation">
  <ul class="list-group">
    <li class="list-group-item">
      Follow Cursor <input type="checkbox" class="pull-right" on-change="{{ this.toggleFollow }}" checked>
    </li>

    <li class="list-group-item">
      Online <span class="label label-primary pull-right">{{ nbMembers }}</span>
    </li>

    <li class="list-group-item">
      <a href="" on-click="{{ this.changeNick }}">Change Nickname</a>
    </li>
  </ul>

  <h3>Who's Online</h3>
  <ul class="list-group" each="{{ members }}">
    <member id="{{ id }}" name="{{ name }}" me="{{ me }}" coding="{{ coding }}"></member>
  </ul>

  <h3>Files</h3>
  <ul class="list-group" each="{{ files }}">
    <li class="list-group-item">
      <a href="" on-click="{{ this.open.bind(this, file) }}">{{ file }}</a>
    </li>
  </ul>
</div>
